html body{
    background-color: rgb(0, 156, 185);
    margin: 0;
    padding: 0;
}
.header{
    font-size: 2rem;
    background-color: rgb(226, 238, 218);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2rem;
}

.navbar{
    display: inline;
    float: right;
}

.navbar a{
    margin-right: 2rem;
    text-decoration: none;
    color: rgb(0, 156, 185);
}
.navbar a:hover{
    color: black;
    text-decoration: underline;
}
.icon{
    display: none;
}
.icon-navbar ul {
    display: none;
}

@media screen and (max-width: 1200px) {
    .navbar{
        display: none;
    }
    .icon:hover{
        cursor: pointer;
    }
    .icon {
      display: inline;
      float: right;
      color: rgb(0, 156, 185)
    }
    .icon-navbar ul{
        border: none;
        display: block;
        list-style-type: none;
        background-color: rgb(226, 238, 218);
        margin: -25px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    li{
        display: block;
        text-align: center;
        padding: 2rem;
        font-size: 2rem;;
    }
    li a{
        color: rgb(0, 156, 185);
        text-decoration: none;
    }
    li a:hover{
        font-weight: bold;
    }
  }